/* app css stylesheet */

/* Sandbox Chrome + Menus */
body {
  background-color: #424355;
  padding: 30px;
}

.navbar-default {
  background-color: #424355;
  border: none;
  display: none; /* Hiding the navbar/header */
}

.navbar-brand {
  color: #fff;
}

.nav-pills > li > a {
  color: #999;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:visited,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:active {
  background-color: #4E5574;
}
.btn-dark {
  color: #EEEEEE;
  background-color: #4E5574;
  border-color: none;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #EEEEEE;
  background-color: #575E7E;
  border-color: none;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}

.dropdown-menu {
  color: #EEEEEE;
  background-color: #575E7E;
  height: 600px;
  overflow: scroll;
}

.dropdown-header {
  color: #EEEEEE;
}

.dropdown-menu > li > a {
  color: #EEEEEE;
}

.dropdown-menu > li:hover > a {
  background-color: #424A6E;
  color: #EEEEEE;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active:hover > a {
  background-color: #424A6E;
}

.dropdown-menu .divider {
  background-color: #424A6E;
}

/* D3 */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #D0D0D0;
  text-align: right;
}

.dashboard {
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}

.ap-graph {
  height: 1000px;
  width: 100%;
  margin-top: 10px;
}

.ap-graph .links line {
  stroke: #FFF;
  stroke-width: 0.5px;
  stroke-opacity: 0.2;
}

.ap-graph .group-links line {
  stroke: #FF8675;
  stroke-opacity: 0.8;
}

.ap-graph .nodes circle {
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 0.5px;
  opacity: .8;
}

.ap-graph .nodes .group-node {
  opacity: 0.2;
  fill: #ddd;
}

.ap-graph .faded {
  opacity: 0.1;
}

.symptoms-filter .symptom-hours {
  font-size: 10px;
  /*color: #777;*/
  /*float: right;*/
}

.d3-tip {
  font-weight: normal;
  padding: 5px;
}

.d3-tip table td {
  padding: 5px;
}

.d3-tip.n:after {
  display: none;
}

.ap-zooming {
  height: 800px;
  width: 100%;
  margin-top: 10px;
}

.ap-zooming text {
  font-size: 11px;
  pointer-events: none;
}

.ap-zooming text.parent {
  fill: #1f77b4;
}

.ap-zooming circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

.ap-zooming circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

.ap-zooming circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

.ap-zooming circle.child {
  pointer-events: none;
}
